gitdb2==2.0.5
GitPython==3.0.2
jarn.mkrelease==4.3
lazy==1.4
python-dateutil==2.8.0
python-git==2018.2.1
Send2Trash==1.5.0
setuptools-git==1.2
setuptools-hg==0.4
setuptools-subversion==3.1
six==1.12.0
smmap2==2.0.5
svn==0.3.46
unittest2py3k==0.5.1
urllib3==1.25.3
